#start-menu {
    width: 1280px;
    height: 720px;
    background-image:url(/static/images/others/start.jpeg);
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
}