<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King of Fighters</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet", href = "../static/css/base.css", type="text/css">
</head>
<body>
    <div id = "kof">
        <audio id="start-audio" autoplay="" muted="" playsinline="">
            <source src = "/static/audio/start_audio.mp3" type="audio/mpeg">
        </audio>
        <div id = "kof-header">
            <div id = "kof-hp-p0"><div><div></div></div></div>
            <div id = "kof-timer">60</div>
            <div id = "kof-hp-p1"><div><div></div></div></div>
        </div>
        <script type="module">
            import{KOF} from "../static/js/base.js"
            let kof = new KOF('kof');
        </script>
    </div>
</body>
</html>